.header {
  height: 100vh;
  position: relative;
  z-index: -10;
  width: 100%;
  background-image: url("https://wallpaperplay.com/walls/full/3/5/5/176847.jpg");
  background-size: cover;
  &__text-box {
    position: absolute;
    width: 80%;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
