.services {
  height: 100vh;
  padding: 5rem 0px;
}
.services-card {
  height: 18rem;
}
.services-primary--sub {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.services-content {
  letter-spacing: 0.08rem;
}
.more-info {
  height: 60vh;
  padding: 20px;
}
