.about-site-banner {
  height: 90vh;
  background: url("../../img/hospital-hd-wallpaper.jpg") no-repeat;
  background-size: 100% 100%;
}
.about-title-wrapper {
  padding: 20% 10%;
}
.about-project {
  margin-bottom: 2rem;
}
.about-title-text {
  background: rgba(255, 255, 255, 0.3);
  font-size: 2.5rem;
  letter-spacing: 2px;
  width: 60%;
  border-radius: 5px;
}
.board-profile-pic img {
  padding: 20px;
  border-radius: 50%;
  float: left;
  height: 6rem;
}
.pic-text h3 {
  font-size: 1.3rem;
}
.pic-text {
  line-height: 30px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 100;
}
.about-slit {
  height: 10rem;
}
